@charset "UTF-8";

/* 回答はここに書いてね */
/*float */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.floatbox {
  float: left;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
  width: 225px;
}

.floatbox:first-child {
  margin-left: 0;
}

/*table */
.table {
  display: table;
}

.part {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
  width: 225px;
}

.part:first-child {
  padding-left: 0;
}

.cell {
  font-size: 16px;
}

/*inline-block */
.block {
  font-size: 0;
}

.inlineblockbox {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
  width: 225px;
}

.inlineblockbox:first-child {
  margin-left: 0;
}

/*flex */
.flexpart {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.flexbox {
  font-size: 16px;
  box-sizing: border-box;
  width: 225px;
}

/*inline-blockとmargin */
.marginpart {
  font-size: 0;
}

.stable {
  width: 300px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.flexible {
  display: inline-block;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
}

.margintext {
  font-size: 16px;
}
/* 回答はここに書いてね */
