@charset "UTF-8";

/* 回答はここに書いてね */
.q4_white {
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}
.q4_content {
  display: table;
  width: 100%;
  margin-top: 20px;
}
.q4_content:first-child {
  margin-top: 0;
}
.cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 20px 0;
}
.q4_orange {
  background-color: #fdc8b8;
  width: 100px;
}
.q4_purple {
  background-color: #e0abd9;
}
.q4_blue {
  background-color: #b6d8ed;
  width: 100px;
}
.q4_yellow {
  background-color: #e5d32e;
}
.q4_pink {
  background-color: #ec8f9a;
}
.q4_green {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
